[submodule "perception/yolov5/yolov5"]
	path = perception/yolov5/yolov5
	url = git@github.com:ultralytics/yolov5.git
[submodule "vehicles/jaxguam/jax_guam"]
	path = vehicles/jaxguam/jax_guam
	url = https://github.com/oswinso/jax_guam.git
[submodule "perception/verifiable_od/src/lib/depth_clustering"]
	path = perception/verifiable_od/src/lib/depth_clustering
	url = https://github.com/CPS-IL/depth_clustering
